.hero {
  position: relative;
}
.hero > span {
  display: var(--flex);
  align-items: var(--items-center);
  gap: 20px;
}
.heroTitle {
  margin-top: 0;
  margin-bottom: 0;
}
.heroDescription {
  font-size: 24px;
  margin-bottom: 0;
  margin-top: 0;
  color: var(--subtitle);
  line-height: 32px;
}
.socialHandles {
  display: var(--flex);
  align-items: var(--items-center);
  gap: 22px;
  padding-top: 46px;
}
@media (min-width: 501px) {
  .heroTitle {
    font-size: 72px;
  }
  .heroDescription {
    font-size: 36px;
    line-height: 40px;
  }
}