@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative');


body {
    padding: 0;
    margin: 0;
    font-family: 'Lora', serif;
    background-color: #ffffff;
}
h1 {
   font-family: 'Playfair Display SC', serif; 
}
/* scrollbar */
/* To style the document scrollbar, remove `.custom-scrollbar` */
body::-webkit-scrollbar {
  width: 8px;
  height: 70px;
  overflow-y: scroll;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #00d1b2;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px #00d1b2;
}
.header {
    height: 100vh;
    width: 100vw;
    background-image: url('../images/port.svg');
    background-size: cover;
    background-repeat: no-repeat;
}
/*navbar styles*/
.wizsullivan--nav {
    background-color: #5854E1;
    /* box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10); */
}
.wizsullivan--brand > a{
    font-family: 'Lobster Two', cursive;
    color: #fff !important;
    font-size: 40px;
    font-weight: bold;
}
.navbar .wizsullivan-brand > a.navbar-item:hover, .navbar .wizsullivan-brand > a.navbar-item.is-active,
.navbar .wizsullivan-nav .navbar-link:hover,
.navbar .wizsullivan-brand .navbar-link.is-active {
  background-color: transparent !important;
  color: #0a0a0a;
}
.wizsullivan--nav .navbar-start > a.navbar-item, .wizsullivan--nav .navbar-start > a.navbar-item.is-active,
  .wizsullivan--nav .navbar-start .navbar-link,
  .wizsullivan--nav .navbar-start .navbar-link.is-active,
  .wizsullivan--nav .navbar-end > a.navbar-item,
  .wizsullivan--nav .navbar-end > a.navbar-item.is-active,
  .wizsullivan--nav .navbar-end .navbar-link,
  .wizsullivan--nav .navbar-end .navbar-link.is-active {
    background-color: transparent;
    color: #eee;
  }
  .wizsullivan--nav .navbar-start > a.navbar-item:hover, .wizsullivan--nav .navbar-start > a.navbar-item.is-active,
  .wizsullivan--nav .navbar-start .navbar-link:hover,
  .wizsullivan--nav .navbar-start .navbar-link.is-active,
  .wizsullivan--nav .navbar-end > a.navbar-item:hover,
  .wizsullivan--nav .navbar-end > a.navbar-item.is-active,
  .wizsullivan--nav .navbar-end .navbar-link:hover,
  .wizsullivan--nav .navbar-end .navbar-link.is-active {
    background-color: transparent;
    color: #fff;
  }
.wizsullivan--desc {
    margin-top: 3rem;
}
.wizsullivan--desc > h1 {
    color: #fff;
    padding-top: 7rem;
}
.wizsullivan--desc > p {
    font-size: 22px;
    color: #fff;
    line-height: 200%;
}
.wizbtn {
    color: #5854E1;
    padding: 8px 30px;
    border-radius: 30px;
    background: #fff;
    font-size: 20px;
  box-shadow: none !important;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.wizbtn:hover {
   background: transparent;
   border: 2px solid #fff;
   color: #fff;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   transition: all 0.4s ease-out; 
}
.wizbtn--nav {
    padding: 8px 30px;
    color: #fff;
    border-radius: 30px;
    font-size: 20px;
    border: 2px solid #fff;
    background: transparent;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.wizbtn--nav:hover {
    color: #5854E1;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.5s ease-in-out;
}
.wizsullivan--image {
    margin-top: 10.9rem;
    height: 400px;
    width: 100%;
    background-image: url('../images/sullivan.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-clip-path: polygon(46% 0, 100% 25%, 100% 75%, 56% 99%, 6% 73%, 0 25%);
clip-path: polygon(46% 0, 100% 25%, 100% 75%, 56% 99%, 6% 73%, 0 25%);
}
/*media queries */
@media (max-width: 767px){
 .section {
    padding: 40px 0;
  } 
  .header {
     position: relative;
    height: 50vh;
    width: 100vw;
    background-size: cover;
    background-position: top;
  }

   .wizsullivan--image {
    display: none !important;
   }
   .wizsullivan--desc {
    margin-top: 1rem;
}
.wizsullivan--desc > h1 {
    display: block;
    color: #fff;
    padding-top: 1rem;
    font-size: 18px !important;
    padding: 10px;
     font-weight: 400;
}
.wizsullivan--desc > p {
    padding: 10px;
    font-size: 15px !important;
    color: #fff;
    line-height: 100% !important;
}
.wizbtn {
    padding: 10px 50px;
    border-radius: 30px;
    font-size: 15px;
    margin-top: -0.5rem !important;
    margin-left: 10px;
}
}
.wizheader {
    padding-top: 2rem;
    font-family: 'Lora', serif;
}
.wizsubtitle {
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.wizcard {
    background: #fff;
    font-family: 'Lora', serif;
    border-radius: 10px;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}
.wizcard--image {
    height: 250px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 76% 98%, 36% 80%, 0% 80%, 0% 20%);
    clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 76% 98%, 36% 80%, 0% 80%, 0% 20%);
    background-image: url('../images/heaven.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.wizcard--image:hover {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 46% 80%, 23% 90%, 0% 80%, 0% 20%);
clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 46% 80%, 23% 90%, 0% 80%, 0% 20%);
transition: all 0.6s;
}
.wizcard--body {
    padding: 10px;
    font-size: 20px;
}
.appcard {
    background: #fff;
    font-family: 'Lora', serif;
    border-radius: 10px;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}
.appcard--image {
    height: 250px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 75%, 70% 84%, 34% 64%, 0 78%, 0% 43%, 0 0);
clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 75%, 70% 84%, 34% 64%, 0 78%, 0% 43%, 0 0);
    background-image: url('../images/heaven.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.appcard--image:hover {
-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 79%, 66% 65%, 36% 78%, 0 78%, 0% 43%, 0 0);
clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 79%, 66% 65%, 36% 78%, 0 78%, 0% 43%, 0 0);
transition: all 0.8s ease-in-out;
}
.appcard--body {
    padding: 10px;
    font-size: 20px;
}
footer {
    padding-top: 4rem;
}
.footer--svg {
    width: 100%;
    background-color: #eee;
}
/*utilities*/
.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.pt-2 {
    padding-top: 2rem !important;
}
.pt-5 {
    padding-top: 5rem !important;
}
.flex-drop {
    padding-top: 20rem;
}
.justify-space-between {
    display: flex;
    justify-content: space-between;
}