@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative');

body {
    padding: 0;
    margin: 0;
    font-family: 'Karla', sans-serif;
    background-color: #ffffff;
}
h1 {
   font-family: 'Playfair Display SC', serif; 
}
/* scrollbar */
/* To style the document scrollbar, remove `.custom-scrollbar` */
body::-webkit-scrollbar {
  width: 8px;
  height: 70px;
  overflow-y: scroll;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #00d1b2;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px #00d1b2;
}
.header {
    height: 100vh;
    width: 100vw;
    background-image: url('../images/port.svg');
    background-size: cover;
    background-repeat: no-repeat;
}
/*navbar styles*/
.wizsullivan--nav {
    background-color: #5854E1;
    /* box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10); */
}
.wizsullivan--brand > a{
    font-family: 'Lobster Two', cursive;
    color: #fff !important;
    font-size: 40px;
    font-weight: bold;
}

/*media queries */
@media (max-width: 767px){
 .section {
    padding: 40px 0;
  } 
  .header {
     position: relative;
    height: 40vh;
    width: 100vw;
    background-size: cover;
    background-position: top;
  }
  .wizsullivan--brand > a{
    font-family: 'Lobster Two', cursive;
    color: #fff !important;
    font-size: 20px;
    font-weight: bold;
}
}
.wizheader {
    padding-top: 2rem;
    font-family: 'Cinzel Decorative', cursive;
}
.wizsubtitle {
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.wizcard {
    background: #fff;
    font-family: 'Cinzel Decorative', cursive;
    border-radius: 10px;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}
.wizcard--image {
    height: 250px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 76% 98%, 36% 80%, 0% 80%, 0% 20%);
    clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 76% 98%, 36% 80%, 0% 80%, 0% 20%);
    background-image: url('../images/heaven.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.wizcard--image:hover {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 46% 80%, 23% 90%, 0% 80%, 0% 20%);
clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 46% 80%, 23% 90%, 0% 80%, 0% 20%);
transition: all 0.6s;
}
.wizcard--body {
    padding: 10px;
    font-size: 20px;
}
.appcard {
    background: #fff;
    font-family: 'Cinzel Decorative', cursive;
    border-radius: 10px;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}
.appcard--image {
    height: 250px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-clip-path: polygon(100% 0, 100% 13%, 100% 35%, 100% 70%, 74% 78%, 48% 71%, 23% 78%, 0% 70%, 0% 35%, 0 0);
clip-path: polygon(100% 0, 100% 13%, 100% 35%, 100% 70%, 74% 78%, 48% 71%, 23% 78%, 0% 70%, 0% 35%, 0 0);
    background-image: url('../images/heaven.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.appcard--image:hover {
    -webkit-clip-path: polygon(100% 0, 100% 13%, 100% 35%, 100% 70%, 68% 81%, 48% 71%, 26% 83%, 0% 70%, 0% 35%, 0 0);
clip-path: polygon(100% 0, 100% 13%, 100% 35%, 100% 70%, 68% 81%, 48% 71%, 26% 83%, 0% 70%, 0% 35%, 0 0);
transition: all 0.8s;
}
.appcard--body {
    padding: 10px;
    font-size: 20px;
}