html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background: var(--bg);
  color: var(--fg);
  font-display: block;
  font-feature-settings: 'calt' 'case' 'rlig';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
:root {
  /* Spacing */

  /* Typography */
  --font-sans: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-mono: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo',
    monospace;

  /* Transitions */
  --transition: 0.1s ease-in-out;
  --transition-slow: 0.3s ease-in-out;

  /* Flex */
  --flex: flex;
  --justify-center: center;
  --justify-between: space-between;
  --items-center: center;
  --subtitle: #3B4359;
  --ptext: #5C5673;
  --spantext: #827F8D;
  --textcolor: #423B44;
}
.light {
  --bg: #fff;
  
}

svg {
  transition: fill 0.1s ease-in-out, stroke 0.1s ease-in-out;
}

p,
li {
  letter-spacing: -0.33px;
  font-size: 1.125rem;
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
  font-weight: 600;
  line-height: 1.75;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.89px;
}

h2 {
  font-size: 2rem;
  letter-spacing: -0.69px;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: -0.47px;
}

h4 {
  font-size: 1.25rem;
  letter-spacing: -0.33px;
}

hr {
  border: none;
  border-bottom: 1px solid var(--light-gray);
  transition: border-color 0.1s ease-in-out;
}

blockquote {
  font-style: italic;
  margin: 0;
  padding-left: 1rem;
  border-left: 3px solid var(--light-gray);
  transition: border-color var(--transition);
}

button {
  border: none;
  padding: 0;
  margin: 0;
  line-height: inherit;
  font-size: inherit;
}

p a,
a.reset {
  outline: none;
  color: inherit;
  text-decoration: none;
  transition: color var(--transition);
}

p a:hover,
p a:focus,
p a:active,
a.reset:hover,
a.reset:focus {
  color: var(--gray);
}

pre,
code {
  font-family: var(--font-mono);
}

